.content {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: calc(100vh + 1px);
}

.image {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
}
