html  {
    font-size:calc(4.4vh - 10px);
}

  
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

@media screen and (min-width: 505px) {
  
  html  {
    font-size:calc(4.4vw - 10px);
  }
    
}
  